@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset the default Vite styles and make app full width/height */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}